<h1>Users</h1>

<ul id="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user %>
      <% if current_user_is_admin && user.closed %>
        <span class="badge bg-secondary">closed</span>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to("New user", new_user_path, class:'btn btn-primary') %>
