<h1>Breweries</h1>

<table id="brewerytable" class="table table-hover">
  <thead>
    <tr>
      <th> <span id="name">Name</span> </th>
      <th> <span id="year">Year</span> </th>
      <th> <span id="beers">Beers</span> </th>
      <th> Activity </th>
    </tr>
  <thead>
  <tbody>
    <div id="brewerylist"></div>
  </tbody>
</table>